body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Playwrite HU", cursive;
    overflow: hidden;
    min-height: 100vh;
}

#mensaje-area {
    display: flex;
    text-align: center;
    padding: 20px;
    background-image: url(./fondos/Fondo-1.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 25px;
}

button {
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #eb7b7b;
    color: #d4d4d4;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#btn-continue img{
    width: 24px;
    margin-left: 10px;
}

button:hover {
    background: #ffffff;
    color: #f85757;
}

button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

button:hover svg {
    transform: translateX(5px);
}

button:active {
    transform: scale(0.95);
}



@media (max-width: 500px){
    body{
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    }
    #mensaje-area {
    display: flex;
    text-align: center;
    padding: 20px;
    background-image: url(./fondos/Fondo-1.svg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 40px;
    font-size: 30px;
}
}