body{
    margin: 0;
    overflow: hidden;
    color: #f0f0f5; 
    font-family: "Playwrite HU", cursive;
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

canvas {
    display: block;
} /* ---- particles.js container ---- */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -2;
    overflow: hidden;
} /* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.js-count-particles {
    font-size: 1.1em;
}
#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 0 0 3px 3px;
}
#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}


#fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container-efecto{
    background-image: url(./fotos-pareja/foto-paraja-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 900px;
    border-radius: 15px;
}

.reproductor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: rgba(202, 159, 73, 0.466);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.3) inset;
    -webkit-backdrop-filter: blur(10px);
    z-index: 0;
}

.reproductor::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

.img-reproductor{
    background-color: f8bbd0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.img-reproductor img{
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(236, 186, 46, 0.767), 0 0 0 1px rgba(255, 255, 255, 0.3) inset;
}

.info-reproductor{
    background-color: #eea300cb;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.3) inset;
    padding: 20px;
    border-radius: 20px;
}

#barra-progres{
    position: relative;
    align-items: center;
    height: 6px;
    background-color: #cabb75;
    border-radius: 4px;
    cursor: pointer;
}
#time-play{
    margin: 10px;
    right: 0;
    font-size: 16px;
    color: #ffffff;
}
.bar{
    height: 100%;
    width: 40%;
    background-color: #643d02;
    border-radius: 4px;
}

.tumb{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background: #e46e00;
    border-radius: 50%;
}

.info-reproductor .titulo-cancion{
    color: #333;
}

.controles-reproductor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn-control{
    background: none;       /* elimina fondo */
    border: none;           /* elimina bordes */
    padding: 0;             /* elimina espacio extra */
    cursor: pointer;        /* cursor tipo "mano" */
    outline: none;
    transition: transform 0.15s ease, opacity 0.15s ease;
}
.btn-control:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.btn-control .icon-color{
    color: rgb(0, 0, 0)bdb;
}

#btn-regresar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #c4a040;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

#btn-regresar:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd500e8;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

#btn-regresar:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

#btn-regresar span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

#btn-regresar:hover span {
    color: #3f3f3f;
    animation: scaleUp 0.3s ease-in-out;
}

#btn-regresar span a{
    text-decoration: none;
    color: inherit;
}
#btn-regresar a img{
        width: 35px;
        height: 35px;
    }
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 500px) {
    body{
        overflow: hidden;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        margin: 0; /* Eliminar el margen por defecto del navegador */
        padding: 0;
    }
    main {/* Una sola columna en pantallas pequeñas */
        width: 400px;
    }
    #particles-js{
        overflow: hidden;
    }
    .container-efecto{
        background-image: url(./fotos-pareja/foto-paraja-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 350px;
        border-radius: 7.5px;
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }
    .reproductor {
        display: grid;
        grid-template-columns: auto; /* Dos columnas en pantallas grandes */
        width: 280px;
        padding: 15px;
        border-radius: 7.5px;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    #fondo{
        display: none;
    }
    .info-reproductor{
    background-color: #eea300cb;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.3) inset;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    width: 280px;
    }
    .img-reproductor img{
    max-width: 100%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(236, 186, 46, 0.767), 0 0 0 1px rgba(255, 255, 255, 0.3) inset;
    }
    .img-reproductor{
    background-color: f8bbd0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    }
    #barra-progres{
    position: relative;
    align-items: center;
    height: 4px;
    background-color: #cabb75;
    border-radius: 4px;
    cursor: pointer;
    }
    #btn-regresar{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding: 2px;
    }
    #btn-regresar a img{
        width: 35px;
        height: 35px;
    }
}

